<div class="container-fluid">
    <div class="d-flex row justify-content-center align-items-center h-100">
        <div class="col-12 row text-center justify-content-center align-items-center">
            <img class="col-4 getting-started-image" [src]="imageURL" alt="Getting Started">
            <div class="col-12"></div>
            <mat-card-title>Getting Started</mat-card-title>
            <mat-card-subtitle>Pick a contact from the chat drawer to continue.</mat-card-subtitle>
        </div>
    </div>
</div>