<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ChatApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" *ngIf="!userAuth.loginStatus()" routerLink="/login">Login</a>
                <a class="nav-link" *ngIf="!userAuth.loginStatus()" routerLink="/signup">Register</a>
                <a class="nav-link logoutButton" *ngIf="userAuth.loginStatus()" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
</nav>