.card-avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    margin-left: 0.75rem;
}

mat-card-subtitle {
    padding-bottom: 0;
    margin-bottom: 0;
}

.dropdown-toggle::after {
    display: none;
}

.chat-container {
    display: flex;
    height: calc(100vh - 58px);
    flex-flow: column;
}

.message-box {
    flex: 1 !important;
    height: auto !important;
    overflow: auto !important;
    padding-top: 0.85rem;
}

.top-bar-card {
    margin-left: -1.75rem;
    margin-right: -1.75rem;
    width: calc(100% + 1.75rem);
}

.bottom-input-card {
    margin-left: -1.75rem;
    margin-right: -1.75rem;
    width: calc(100% + 1.75rem);
}

textarea {
    resize: none !important;
}

.message-input {
    margin-bottom: -1rem !important;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.file-input {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.contact-options {
    cursor: pointer;
}

.message-wrapper {
    margin: 0.75rem;
    padding: 0.75rem;
    padding-bottom: 0;
    background-color: #cbd3e4;
    border-radius: 7.5px;
}

.img-message-wrapper {
    margin: 0.75rem;
    padding: 0.35rem;
    padding-bottom: 0;
    background-color: #cbd3e4;
    border-radius: 7.5px;
}

.message-wrapper-user {
    background-color:  rgb(196, 28, 28);
    color: #fafafa;
}

.img-round-border {
    border-radius: 4.5px;
}

.message-options {
    margin-bottom: -2.75rem;
    padding-right: 0.35rem;
    margin-top: -1rem;
}

.message-options-user-icon {
    color: #fafafa;
}

.flip-icon {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.user-card {
    cursor: pointer;
    margin: 0.5em;
    width: calc(100% - 1em);
}

.hover-background-change :hover {
    background: #dadce0 !important;
}

.modal-body {
    background: #f1f1f1;
}

.user-message-date {
    color: #bec0c4 !important;
}