<div class="chat-container">
    <mat-card class="col-12 d-flex align-items-center top-bar-card">


        <div class="flex-grow-1 row align-items-center">
            <div mat-card-avatar class="col-2 card-avatar" style="background-image: url('{{contact.picture}}');">
            </div>
            <div class="col-9">
                <mat-card-title>{{contact.firstName}} {{contact.lastName}}</mat-card-title>
                <mat-card-subtitle>{{contact.username}}</mat-card-subtitle>
            </div>
        </div>

        <div class="dropdown col-1 d-flex justify-content-end">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="muteContact()">
                    <mat-icon>{{muted?'volume_off':'volume_up'}}</mat-icon>
                    <span>{{muted ? "Unmute" : "Mute"}}</span>
                </button>
                <button mat-menu-item (click)="blockContact()">
                    <mat-icon>{{blocked?'person':'block'}}</mat-icon>
                    <span>{{blocked? "Unblock" : "Block"}}</span>
                </button>
            </mat-menu>

        </div>

    </mat-card>
    <!-- <div class="message-box">message-box</div> -->
    <div class="message-box d-flex flex-column justify-content-center align-items-center"
        *ngIf="chatIsLoading && !blocked">
        <mat-spinner></mat-spinner>
    </div>
    <div class="message-box d-flex flex-column justify-content-center align-items-center" *ngIf="blocked">
        This user is blocked.
    </div>
    <!-- Message Box Starts -->
    <div class="message-box d-flex flex-column" #messageScroll [scrollTop]="messageScroll.scrollHeight"
        *ngIf="!chatIsLoading && !blocked">
        <div class="col-12" *ngFor="let message of messagesInChat.chat">
            <div class="justify-content-start" *ngIf="message.messageSender==contact.username">
                <div class="col-5 d-flex justify-content-end me-auto message-options">
                    <button mat-icon-button class="mat-message-menu" [matMenuTriggerFor]="menu">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item type="button" data-bs-toggle="modal" (click)="messageToForward=message;"
                            data-bs-target="#forwardModal">
                            <mat-icon class="flip-icon">reply</mat-icon>
                            <span>Forward</span>
                        </button>
                        <button mat-menu-item [cdkCopyToClipboard]="message.messageContent.toString()">
                            <mat-icon>content_copy</mat-icon>
                            <span>Copy</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="col-5 me-auto">
                    <div class="text-break message-wrapper" *ngIf="message.messageType=='text'">
                        {{message.messageContent}}
                        <div class="d-flex">
                            <small class="ms-auto">
                                <mat-hint>{{message.messageTime}}</mat-hint>
                            </small>
                        </div>
                    </div>
                    <div class="img-message-wrapper" *ngIf="message.messageType.split('/')[0]=='image'">
                        <img class="img-responsive w-100 img-round-border"
                            src="data:{{message.messageType}};base64,{{message.messageContent}}"
                            alt="Image From {{contact.username}}">
                        <div class="d-flex">
                            <small class="ms-auto">
                                <mat-hint>{{message.messageTime}}</mat-hint>
                            </small>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-5 me-auto message-wrapper message-wrapper"
                    *ngIf="message.messageType.split('/')[0]=='video'">
                    <video controls class="video-responsive w-100"
                        src="data:{{message.messageType}};base64,{{message.messageContent}}" alt="Video From You">
                    </video>
                </div> -->
            </div>
            <div class="justify-content-end" *ngIf="message.messageSender!=contact.username">
                <div class="col-5 d-flex justify-content-end ms-auto message-options">
                    <button class="message-options-user-icon" mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item type="button" data-bs-toggle="modal" (click)="messageToForward=message;"
                            data-bs-target="#forwardModal">
                            <mat-icon class="flip-icon">reply</mat-icon>
                            <span>Forward</span>
                        </button>
                        <button mat-menu-item [cdkCopyToClipboard]="message.messageContent.toString()">
                            <mat-icon>content_copy</mat-icon>
                            <span>Copy</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="col-5 ms-auto">
                    <div class="text-break message-wrapper message-wrapper-user" *ngIf="message.messageType=='text'">
                        {{message.messageContent}}
                        <div class="d-flex">
                            <small class="ms-auto">
                                <mat-hint class="user-message-date">{{message.messageTime}}</mat-hint>
                            </small>
                        </div>
                    </div>
                    <div class="img-message-wrapper message-wrapper-user"
                        *ngIf="message.messageType.split('/')[0]=='image'">
                        <img class="img-responsive w-100 img-round-border"
                            src="data:{{message.messageType}};base64,{{message.messageContent}}" alt="Image From You">
                        <div class="d-flex">
                            <small class="ms-auto">
                                <mat-hint class="user-message-date">{{message.messageTime}}</mat-hint>
                            </small>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-5 ms-auto message-wrapper message-wrapper-user"
                    *ngIf="message.messageType.split('/')[0]=='video'">
                    <video controls class="video-responsive w-100"
                        src="data:{{message.messageType}};base64,{{message.messageContent}}" alt="Video From You">
                    </video>
                </div> -->

            </div>
        </div>

    </div>
    <!-- Message Box Ends -->
    <mat-card class="d-flex justify-content-center bottom-input-card align-items-center" *ngIf="!blocked">

        <button mat-fab matSuffix color="warn" type="button" (click)="uploadToggle=!uploadToggle">
            <mat-icon *ngIf="!uploadToggle"> insert_photo </mat-icon>
            <mat-icon *ngIf="uploadToggle"> close </mat-icon>
        </button>

        <input class="form-control w-100 file-input" *ngIf="uploadToggle" single accept="image/*"
            (change)="imageSelected($event)" type="file" placeholder="Upload an image" (keydown)="enterPressed($event)">

        <button mat-fab matSuffix color="warn" *ngIf="uploadToggle" (click)="sendImageSelected()"
            [disabled]="!this.selectedImage">
            <mat-icon>send</mat-icon>
        </button>

        <mat-form-field appearance="fill" class="w-100 message-input" *ngIf="!uploadToggle">
            <textarea matInput [formControl]="newMessage" placeholder="Enter a message" cdkTextareaAutosize
                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" (keydown)="enterPressed($event)"></textarea>
        </mat-form-field>

        <button mat-fab matSuffix color="warn" *ngIf="!uploadToggle" (click)="sendMessage()"
            [disabled]="!this.newMessage.value">
            <mat-icon>send</mat-icon>
        </button>
    </mat-card>


</div>


<div class="modal fade" id="forwardModal" tabindex="-1" aria-labelledby="forwardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="forwardModalLabel">Forward message to</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngFor="let contactUser of contacts">
                    <div class="hover-background-change" (click)="forwardMessage(contactUser.username)"
                        data-bs-dismiss="modal">
                        <mat-card class="col-12 d-flex align-items-center user-card">
                            <div class="flex-grow-1 row align-items-center">
                                <div mat-card-avatar class="col-2 card-avatar"
                                    style="background-image: url('{{contactUser.picture}}')">
                                </div>
                                <div class="col-8">
                                    <mat-card-title class="text-truncate">{{contactUser.firstName}}
                                        {{contactUser.lastName}}</mat-card-title>
                                    <mat-card-subtitle class="text-truncate">{{contactUser.username}}
                                    </mat-card-subtitle>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>