.register-outer-wrapper {
    /* min-height: 85vh; */
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

mat-card-title {
    margin: 2rem 0 0rem 0!important;
}

mat-card-subtitle {
    margin: 0.75rem 0 2rem 0!important;
}

.container-fluid {
    background: #fafafa;
}

mat-card {
    padding-bottom: 2rem !important;
}

mat-chip {
    padding: 0 1.5rem 0 1rem !important;
}

button {
    width: auto;
}

mat-chip:hover {
    cursor: pointer;
}

.terms-conditions {
    text-decoration: none;
}

.form-control {
    margin-bottom: calc(1.34375em + 0.25em);
}